h1{
    text-align: center;
}

html, body {
    height: auto;
    background-color: #ffffff;
    margin: 0;
}

.web-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.bubble-pics {
    height: 1005px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 932px;
}
.bubble-gif {
    height: 83%;
    width: 664px;
    position: relative;
    right: 105px;
}

.bubble-png {
    position: relative;
    top: 56px;
    left: 248px;
    height: auto;
    width: 429px;
    cursor: pointer;
    border-radius: 230px;
}

.bubble-png:hover {
    width: 440px;
}

.bubble-png:active {
    width: 429px;
}
