.score-board-grid{
    display: grid;
    grid-row: 1;
    grid-column: 3;
    grid-template-rows: auto; /* 6 fractions for 6 power ups, could add more however this is the target as of creation */
    grid-template-columns: auto;
    height: 1005px;
    /* overflow-y: auto; */
    background-color: #fceeff;
    border: solid black 5px;
}

